#top{
	font-family: Arial, Helvetica, sans-serif; 
	background-color: #f3f3f3;
	font-weight: 300;
}
.clear {
	clear: both;
}
.sectionTitle h1{
	font-family: Rokkitt, sans-serif;
	font-style: italic;
	color: orange;
	font-weight: 400;
	font-size: 20px;
}
section{
	border-bottom: solid 1px #dedede;
}

section:last-child{
	border-bottom: none;
}
hr{
	border: solid 2px orange;
	width: 95%;
}
.sectionContent{
	font-family: Lato;
	line-height: 1.5;
	color: #181818;
}
.sectionContent h2{
	font-size: 20px;
	font-weight: 400;
}
.subDetails{
	font-style: italic;
}
.keySkills{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	list-style-type: none;
}
#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
	padding-right: 30px;
}
#image{
	border-radius: 100%;
}
#name {
	float: left;
	line-height: 0.5;
	font-family: Rokkitt, sans-serif;
}
#name h2{
	font-weight: 300;
}

#contactDetails {
	float: right;
	color: #181818;
}
#contactDetails a{
	text-decoration: none;
	color: #181818;
	
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}